<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Job Manage</title>
    <!--css-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <!--js-->
    <script th:src="@{/js/jQuery.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
    <main>
        <header th:insert="~{components/header.html}"></header>

        <section class="container">
            <h1 class="text-center">Job Manage</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="job : ${jobs}">
                        <th scope="row" th:text="*{job.getId()}" />
                        <td th:text="*{job.getName()}" />
                        <td th:text="*{job.getDescription()}" />
                        <td>
                            <a th:href="@{/jobs/{param}(param=${job.getId()})}">Detail</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <form action="/jobs/add" method="get">
                <button type="submit" class="btn btn-success">Add</button>
            </form>
        </section>
    </main>
</body>
</html>